.features {
  background-color: $color-lightgray;
}

.features__wrap {
  padding-top: rem(94);
  padding-bottom: rem(25);
  @include page-container();
  @include clearfix();
}

.features__head {
  margin-bottom: rem(52);
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 0;
  padding: 0;
  @include unstyle-list();
}

.features__item {
  flex: 0 0 33%;
  align-content: center;
  justify-content: center;

  &:last-of-type {
    margin: 0 auto;
  }
}

.features__content {
  margin-bottom: rem(52);
}

.features__icon {
  margin: 0 auto rem(5) auto;
}

.features__descr {
  max-width: rem(300);
  margin: 0 auto;
}

.features__descr,
.features__descr h3 {
  text-align: center;
}

// @media screen and (max-width: rem(992)) {
//   .features__list {
//     justify-content: space-between;
//     &:before,
//     &::after {
//       content: none;
//     }
//   }
//   .features__item {
//     flex-basis: auto;
//     margin: 0 rem(32);
//   }
// }

// @media screen and (max-width: rem(890)) {
//   .features__item {
//     margin: 0 rem(16);
//   }
// }

@media screen and (max-width: rem(768)) {
  .features__item {
    flex-basis: 100%;
    margin: 0 auto;
  }
}
