/*------------------------------------------------------------------
* [Buttons]
*/

.btn {
  appearance: none;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  color: currentColor;
  border: 0 none;
  position: relative;
  &:hover {
    text-decoration: none;
  }
  &--flat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 160px;
    margin: rem(8) 0 0 0;
    padding: rem(6) rem(18) 0 rem(17);
    height: rem(35);
    text-transform: uppercase;
    font-family: $title-font-family;
    font-size: $btn-font-size;
    font-weight: bold;
  }
  &--red {
    background-color: $btn-primary;
  }
  &--ripple {
    @include ripple-effect($btn-primary-hover, $btn-primary-active);
  }
  &--slide-up {
    position: relative;
    padding: 10px 10px 0 10px;
    outline-color: transparent;
    transition: all 0.8s ease;
    &:hover {
      padding-bottom: 10px;
      font-weight: bold;
      &::before {
        background-color: transparent;
      }
    }
  }
  &--link {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: rem(-3);
      left: 0;
      width: calc(100% - 20px);
      transform: translateX(10px);
      height: rem(2);
      background-color: $btn-primary;
      transition: 0.4s ease-in-out;
    }
  }
}

.btn__calculate {
  &--icon {
    position: relative;
    width: auto;
    display: inline-block;
    padding-left: rem(26);
    line-height: rem(33);
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      background-image: url(/img/icons/calculator.png);
      background-repeat: no-repeat;
      width: rem(22);
      height: rem(25);
    }
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: rem(26);
    bottom: 0;
    width: 100%;
    height: rem(3);
    background-color: currentColor;
  }
}
