.carousel {
  img {
    object-fit: cover;
    min-width: rem(429);
    min-height: rem(285);
  }
}
.carousel__thumbnails {
  .slick-slide {
    min-width: rem(143);
    min-height: rem(95);
    object-fit: cover;
  }
}
