.icon-small {
  background-image: url(/img/icon-small-sprite.png);
  background-position-x: -10px;
  display: block;
  width: rem(84);
  height: rem(83);
  &--papers {
    background-position-y: -10px;
  }
  &--job {
    background-position-y: -113px;
  }
  &--workflow {
    background-position-y: -216px;
  }
  &--advance-paynemt {
    background-position-y: -319px;
  }
  &--discussion {
    background-position-y: -422px;
  }
  &--customer {
    background-position-y: -525px;
  }
  &--fire {
    background-position-y: -628px;
  }
  &--strength {
    background-position-y: -731px;
  }
  &--ultraviolet {
    background-position-y: -834px;
  }
  &--few_seams {
    background-position-y: -937px;
  }
  &--frost {
    background-position-y: -1040px;
  }
  &--care {
    background-position-y: -1143px;
  }
  &--steam {
    background-position-y: -1246px;
  }
  &--thermometer {
    background-position-y: -1349px;
  }
  &--durability {
    background-position-y: -1452px;
  }
  &--weld {
    background-position-y: -1555px;
  }
  &--maintainability {
    background-position-y: -1658px;
  }
  &--smooth {
    background-position-y: -1761px;
  }
  &--elasticity {
    background-position-y: -1864px;
  }
  &--price {
    background-position-y: -1967px;
  }
  &--hammer {
    background-position-y: -2070px;
  }
  &--warranty {
    background-position-y: -2173px;
  }
  &--key {
    background-position-y: -2276px;
  }
  &--20 {
    background-position-y: -2379px;
  }
  &--5 {
    background-position-y: -2482px;
  }
}

.icon-big {
  background-image: url(/img/icon-big-sprite.png);
  background-position-x: -10px;
  display: block;
  width: rem(135);
  height: rem(136);
  &--shield {
    background-position-y: -10px;
  }
  &--time {
    background-position-y: -166px;
  }
  &--person {
    background-position-y: -322px;
  }
  &--options {
    background-position-y: -478px;
  }
  &--glass {
    background-position-y: -634px;
  }
  &--calendar {
    background-position-y: -790px;
  }
  &--label {
    background-position-y: -946px;
  }
  &--paper {
    background-position-y: -1102px;
  }
}

.icon-social {
  background-image: url(/img/icon-social-sprite.png);
  background-position-x: -10px;
  display: block;
  &--insta {
    width: rem(14);
    height: rem(14);
    background-position-y: -42px;
  }
  &--vk {
    width: rem(20);
    height: rem(12);
    background-position-y: -10px;
  }
  &--fb {
    width: rem(8);
    height: rem(16);
    background-position-y: -76px;
  }
}
