.schedule {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  align-content: center;
}

.schedule__wrap {
  margin-left: auto;
}

.schedule__icon {
  display: inline-block;
  vertical-align: middle;
  background-image: url("/img/icons/icon-clock.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: rem(19);
  height: rem(19);
  align-self: center;

  transform: translateY(6px);

  margin-right: rem(4);
}

.schedule__value {
  vertical-align: middle;
  @include fluid-type($max-value: rem(18));
  align-self: center;

  letter-spacing: rem(0.816);

  padding-top: rem(17);
}
