// Tooltip
//<div class="tooltip">
//  <div class="tooltip__text-wrap">
//    <span class="tooltip__text"></span>
//  </div>
//  <div class="tooltip__icon"></div>
//</div>

.tooltip {
  display: inline-block;
  position: relative;
  font-family: $title-font-family;
  font-size: rem(13);
  &--1,
  &--2,
  &--3,
  &--4,
  &--5,
  &--6,
  &--7 {
    position: absolute;
    left: 25%;
    bottom: rem(17);
  }
  &--3 {
    bottom: rem(28);
  }
  &--4 {
    bottom: rem(37);
  }
  &--5 {
    .tooltip__text {
      font-size: rem(9);
    }
  }
  &--7 {
    left: 3%;
    bottom: rem(46);

    & .tooltip__icon {
      top: rem(-4);
      left: rem(24);
    }

    & .tooltip__text-wrap {
      left: rem(47);
      top: rem(19);
    }
  }
}

.tooltip__wrap {
  position: relative;
}



.tooltip__text-wrap {
  display: inline-block;
  position: relative;
  left: rem(20);
  top: rem(23);
  width: rem(285);
  height: rem(71);
  text-align: center;
  line-height: 1.3;
  @include fluid-type($min-value: rem(11), $max-value: rem(13));
  margin: auto;
  cursor: pointer;
  color: currentColor;
  background-color: transparent;
  transition: 0.4s ease-in-out;
  opacity: 0;
  &:hover,
  .composition__layer:hover .tooltip--1 &,
  .tooltip__icon:hover + & {
    opacity: 1;
  }
  &::before {
    content: "";
    width: 100%;
    height: rem(34);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    background-color: $color-light;
    transform: perspective(15px) rotateX(5deg);
    box-shadow: 0 0 12px 2px $color-shadow-dark;
  }
  &::after {
    content: "";
    width: 100%;
    height: rem(34);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
    background-color: $color-light;
    transform: perspective(15px) rotateX(-5deg);
    box-shadow: 0 12px 12px 2px $color-shadow-dark;
  }
}

.tooltip__text {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: rem(3) rem(16);
  top: 0;
  left: 0;
  font-size: rem(11);
  background-color: transparent;

  &:last-of-type {
    top: 50%;
    bottom: 0;
  }
}

.tooltip__icon {
  top: 0;
  cursor: help;
  position: relative;
  display: inline-block;
  transform: rotate(-45deg);
  width: rem(24);
  height: rem(24);
  background-color: $color-light;
  box-shadow: 0 0 12px 2px $color-shadow-dark;

  &:hover,
  .composition__layer:hover .tooltip--1 &,
  .tooltip__icon:hover + & {
    &::before {
      color: $color-dark;
    }
  }

  &::before {
    content: "+";
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: rem(-2);
    left: rem(1);
    transform: rotate(45deg);
    font-size: rem(24);
    font-weight: bold;
    color: $color-shadow-dark;
  }
}
