/*------------------------------------------------------------------
* [Navigation]
*/

.main-nav {
  margin-left: auto;
}

.main-nav__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-nav__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 0 auto;
  padding: 0;
}

.main-nav__item {
  display: block;
  margin-right: rem(27);
  margin-top: rem(18);
}

.main-nav__link {
  color: currentColor;
  text-decoration: none;
  font-size: rem(19);

  display: inline-flex;
  height: auto;
  align-items: center;

  position: relative;
  @include link-underline-hover();
}

.main-nav__btn-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__btn {}
