/*------------------------------------------------------------------
* [Mixins]
*/

@mixin visually-hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

@mixin page-container {
  max-width: 1170px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}

@mixin link-underline-hover {
  &:hover {
    &::after {
      width: 100%;
    }
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: rem(2);
    background: $btn-primary;
    transition: 0.4s ease-in-out;
  }
}

@mixin ripple-effect($hover-color, $active-color) {
  background-position: center;
  transition: background 0.8s;
  &:hover {
    background-color: $hover-color;
    background-image: radial-gradient(circle at center center, transparent 1%, $hover-color 1%);
    background-repeat: repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: center;
    background-position-y: center;
    background-size: 15000% auto;
  }
  &:active {
    background-color: $active-color;
    background-size: 100%;
    transition: background 0s;
  }
}
