.callback {
  background-color: $color-light;
  max-width: rem(712);
  height: rem(220);
  margin: 0 auto;
  padding: rem(20) rem(30);
  position: relative;
  box-shadow: 0 0 rem(30) rem(12) $color-shadow-dark;
  z-index: 200;
  &--white {

  }
  .mfp-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0;
    width: rem(78);
    height: rem(64);
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 60%;
      left: 0;
      width: rem(40);
      height: rem(3);
      background-color: #333;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
}

.callback__legend {
  margin-bottom: rem(30);
}

.callback__row {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  &--inputs {
    .callback__item {
      flex: 0 0 48%;
      margin: 0 0 rem(20) 0;
    }
  }
  &--bottom {
    .callback__left {
      flex: 0 0 26.6%;
      margin: 0 0 rem(20) 0;
    }
    .callback__right {
      flex: 0 0 47%;
      margin: 0 auto rem(20) 0;
    }
  }
}

.callback__btn {
  color: $color-light;
}

.callback__note {
  font-size: rem(11);
  color: $color-gray;
  line-height: 1;
}

@media screen and (max-width: rem(768)) {
  .callback {
    max-height: none;
    height: auto;
  }
  .callback__legend {
    padding-top: rem(42);
  }
  .callback__row {
    flex-direction: column;
    flex-basis: 100%;
    width: 100%;
    max-width: 100%;
    &--inputs {
      .callback__item {
        flex-basis: 100%;
        width: 100%;
      }
    }
    &--bottom {
      .callback__left {
        flex-basis: 100%;
        width: 100%;
      }
      .callback__right {
        flex-basis: 100%;
        width: 100%;
      }
    }
  }
}
