.socials__list {
  display: inline-flex;
  flex-direction: row;
  justify-content: end;
  margin: 0 0 0 auto;
  padding: 0;
  @include unstyle-list();
  @include clearfix();
}

.socials__item {
  margin-right: rem(20);
  &:last-child {
    margin-right: 0;
  }
}


