.composition {
  position: relative;
  height: rem(316);
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.composition__layer {
  position: relative;
  margin-bottom: -13%;
  margin-top: -13%;
  height: 181px;
  transform: translateY(-8%);
  transition: 0.4s ease-in-out;
  &--1 {

    z-index: 60;
  }
  &--2 {
    top: -3%;
    z-index: 50;
  }
  &--3 {
    top: -6%;
    z-index: 40;
  }
  &--4 {
    top: -4%;
    z-index: 30;
  }
  &--5 {

    z-index: 20;
  }
  &--6 {
    top: -10%;
  }
}

.composition__img {
  float: right;
}



