.stages {
  background-color: $color-lightgray;
}

.stages__wrap {
  padding-top: rem(88);
  padding-bottom: rem(80);
  @include page-container();
  @include clearfix();
}

.stages__head {
  margin-bottom: rem(154);
}

.stages__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  @include unstyle-list();
  @include clearfix();
}

.stages__item {
  padding-top: rem(71);
  padding-bottom: rem(75);
  flex-grow: 1;
  width: 33%;
  //border-top: solid rem(2) $color-radio;
  position: relative;
  z-index: 0;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: rem(-1);
    left: rem(80);
    width: calc(100% - 77px);
    height: rem(2);
    background-color: $color-radio;
  }
  &--last {
    &::before {
      width: calc(100% - 80px);
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: rem(2);
      height: 100%;
      background-color: $color-radio;
    }
  }
  &:last-child {
    &::after {
      content: none;
    }
  }
}

.stages__icon {
  position: absolute;
  top: 0;
  left: rem(42);
  transform: translate(-50%, -50%);
  z-index: 10;
}

.stages__send {
  color: $color-light;
}

@media screen and (max-width: rem(768)) {
  .stages__head {
    margin-bottom: rem(100);
  }
  .stages__item {
    width: 100%;
    &:nth-child(odd) {
      &::before {
        width: 100%;
        right: 0;
        left: 0;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: rem(2);
        height: 100%;
        background-color: $color-radio;
      }
    }
    &:nth-child(even) {
      &::before {
        width: 100%;
        left: 0;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: rem(2);
        height: 100%;
        background-color: $color-radio;
      }
    }
    &:first-child {
      &:before {
        left: auto;
        width: calc(50% - 40px);
        right: 0;
      }
    }
    &:last-child {
      &:before {
        left: auto;
        width: calc(50% - 40px);
        right: 0;
      }
      &::after {
        content: none;
      }
    }
  }
  .stages__icon {
    left: 50%;
    background-color: $color-lightgray;
  }
  .stages__send {
    flex-basis: 100%;
    margin: 0 auto;
  }
}