$root-font-size: 16px;
$btn-font-size: 0.6875rem;

$root-font-family: "Futura-Light", "sans-serif";
$title-font-family: "AG-Futura-Bold", "sans-serif";

$color-light: #fff;
$color-gray: #010101;
$color-sub: #8a8b96;
$color-label: #adadaf;
$color-dark: #000;
$color-strong: #dc0303;

$btn-primary: #dc0303;
$btn-primary-hover: #ef3232;
$btn-primary-active: #f4b7b7;
