/*------------------------------------------------------------------
* [Common styles]
*/

:root {
  font-size: $root-font-size;
}

html,
body {
  height: 100%;
}

body {
  font-family: $root-font-family;
  @include fluid-type();
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-family: $title-font-family;
  @include fluid-type($max-value: rem(75));
  text-align: center;
  margin-top: rem(113);
  margin-bottom: rem(87);
  max-width: rem(1098);
}

h2 {
  font-family: $title-font-family;
  @include fluid-type($max-value: rem(60));
  margin-top: 0;
  margin-bottom: rem(22);
}

header,
main,
section,
h1,
h2,
h3,
h4,
h5,
h6 {
  @include clearfix();
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p:empty {
  margin: 0;
}

p {
  margin-top: 0;
}
