/*------------------------------------------------------------------
* [Common styles]
*/

:root {
  font-size: $root-font-size;
}

html,
body {
  height: 100%;
}

body {
  font-family: $root-font-family;
  @include fluid-type();
  -webkit-text-size-adjust: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p:empty {
  margin: 0;
}
